---
// Component Imports
import Title from '../../components/PreactNavigation/Title.jsx';
const someProps = {
	name: "These are posts",
};
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout content={{title: "Posts", type:"list-page"}}>
	<Title {...someProps} client:load>Astro</Title>
</BaseLayout>