---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import Title from '../../components/Title.astro';
const someProps = {
	name: "These are posts",
};
---
<BaseLayout content={{title: "Posts", type:"list-page"}}>
	<Title {...someProps}>Test of the Title Component</Title>
</BaseLayout>