---
// Component Imports
import Title from '../components/Title.jsx';
const someProps = {
	name: "This is the title",
};

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<Title {...someProps} client:load>Astro</Title>
	</body>
</html>