---
// Component Imports
import Title from '../components/Title.jsx';
const someProps = {
	name: "This is the title",
};
import BaseLayout from '../layouts/BaseLayout.astro';
title:"Home"
---
<BaseLayout content={{title: "Home"}}>
	<Title {...someProps} client:load>Astro</Title>
</BaseLayout>
