---
// src/layouts/BaseLayout.astro
import FlexLayoutWrapper from "./FlexLayoutWrapper.astro";
import Header from "../components/Layout/header";
import MainLayoutWrapper from "./MainLayoutWrapper.astro";
import AstroNavigation from "../components/AstroNavigation/index.astro";
// 1. The content prop gives access to frontmatter data
const { content } = Astro.props;
const url = Astro.url;

const menu = {
  "items": [
  {
      "path": "/",
      "hidden": false,
      "label": "Home",
      "type": "route",
      "heading": "default"
    },
    {
      "path": "/posts/",
      "hidden": true,
      "label": "Blog",
      "type": "route",
      "heading": "default"
    },
    {
      "path": "/data/",
      "hidden": false,
      "label": "Data",
      "type": "route",
      "heading": "default"
    },
    {
      "label": "About",
      "hidden": false,
      "type": "page",
      "path": "/about/",
      "heading": "default"
    },
    {
      "path": "/posts/",
      "hidden": false,
      "label": "Posts",
      "type": "page",
      "heading": "default"
    }

  ]
}

---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{content.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  </head>
  <body>
    <!-- Add Header  -->
    <FlexLayoutWrapper>
      <AstroNavigation label="Astro Template"  data={{ menu, url }}/>
      <!-- <Header label="Astro Template" data={{ menu, url }} client:only="preact"/> -->
      <MainLayoutWrapper content={content}>
        <!-- Add other UI components here, like common headers and footers. -->
        <slot />
      </MainLayoutWrapper>
    </FlexLayoutWrapper>
  </body>
</html>